{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="white-block">
        <form method="post" action="." class="login-form">
            <div class="form-group">
                {{ form.email|attr:"placeholder:Электронная почта"|attr:"class:form-control"|attr:"required:required"|attr:"autofocus:autofocus" }}
            </div>
            {% csrf_token %}

            <button class="btn btn-primary btn-block" type="submit">Отправить</button>
    </form>
    </div>
</div>
{% endblock %}
