{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container big-offset">
        <p>Вы успешно зарегистрированы. Активационное письмо выслано вам на e-mail.</p>
    </div>
{% endblock %}