body {
    background: #EDEDEB;
    /*background: #fff;*/
}

.main-carousel {
    padding-top: 30px;
}

.main-carousel-footer {
    padding: 10px;
}

.main-carousel-item {
    background: white;
}

.premium-actions > .bx-wrapper,
.premium-actions > .bx-viewport {
    height: 200px !important; //provide height of slider
}

.bx-wrapper .bx-viewport {
    background: transparent;
    border: 0px; //solid transparent 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bx-wrapper .bx-prev {
    left: -60px;
}

.bx-wrapper .bx-next {
    right: -60px;
}

.ads-banner {
    background: #E0E0DE;
    padding: 10px;
    padding-left: 50px;
}

.company-name {
    font-weight: bold;;
}

.action-name {
    font-size: 12px;
    padding-bottom: 20px;
    clear: both;
}

.actions .main-carousel-item{
    width: 255px;
    margin-top: 35px;
}

.actions {
    margin-bottom: 30px;
}

.more-actions a {
    display: block;
    margin-top: 20px;
    padding: 2px;
    margin-right: 8px;
    background: #E75F49;
    color: white;
}

#map {
    width: 100%;
    height: 768px;
}

.wrapper-map .container {
    margin-top: -768px;

}

.maps-panel {
    height: 100%;
    padding: 20px;
    background: rgba(240, 240, 240, 0.87);
}

.navbar-bottom {
    margin-bottom: 0px;
    margin-top: -50px;
    background: rgba(255, 255, 255, 0.9);
}

.maps-panel .bx-wrapper,
.maps-panel .bx-viewport {
    height: 55px !important; //provide height of slider
}

.maps-result .main-carousel-item {
    margin-bottom: 30px;
}

.maps-result .main-carousel-item img {
    width: 160px;
}

.main-offset {
    margin-top: 80px;
}

.company-tab-content {
    margin-top: 42px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: white;
}

.company-profile .tab-content {
    padding: 67px 108px;
}

.feedback {
    padding-bottom: 67px;
}

.feedback:first-of-type {
    padding-top: 67px;
}

.send-fb {
    display: block;
    background: #E75F49;
    color: white;
    padding: 2px;
}

#company-map {
    width: 100%;
    height: 700px;
}

.shops div.col-md-6 {
    padding-top: 67px;
}

.login-form {
    width: 240px;
    margin: 40px auto;
    margin-bottom: 20px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 25px;
}

.login-form button.btn.btn-primary {
    background-color: #ea5e50;
    border-color: #ea5e50;
    border-radius: 0px;
    width: 90%;
    margin: 0px auto;
}

.login-form p {
    color: #838383;
    text-align: center;
}

.big-offset {
    margin-top: 100px;
}

.company-action-detail {
    padding: 15px;
}

.company-action-title {
    text-transform: uppercase;
    padding: 10px;
    margin-top: 50px;
    padding-left: 0px;
    font-size: 18px;
}

.social-reg {
    text-align: center;
}

.other-reg {
    margin-top: 30px;
    text-align: center;
}

.other-reg a {
    color: #ea5e50;
}

.center-menu {
    margin-left: 320px;
}

.white-block {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*margin-top: 100px;*/
    padding-bottom: 30px;
}

ul.profile-link {
    padding-left: 0px;
}

.profile-link li {
    list-style: none;
}

.profile-link li a {
    color: #777;
    text-decoration: underline;
    line-height: 26px;
}

.popover {
    border-radius: 0px;
    background: #f8f8f8;
}

.popover-content {
    padding: 9px 20px;
}

.popover.bottom>.arrow:after {
    border-bottom-color: #f8f8f8;
}

.login-links {
    width: 300px;
}

.login-links a.pull-right {
    margin-right: 70px;
    color: #777;
    text-decoration: underline;
}

.login-popover-checkbox {
    float: left;
    color: #777;
    margin-bottom: 5px;
}

.clearboth {
    clear: both;
}

.login-popover-btn {
    background: #E75F49;
    border: 0px;
    margin-top: 5px;
    right: 0px;
    position: absolute;
    margin-right: 22px;
    color: white;
    padding: 5px 26px;
}

.login-popover-oauth {
    margin-bottom: 5px;
}

.forgot-links  a{
    clear: both;
    color: #777;
    text-decoration: underline;
    line-height: 40px;
}

.login-popover-form hr {
    margin: 10px 0px;
    border-top: 1px solid #ccc;
}

.login-popover-oauth span {
    color: #777;
}

.login-popover-link span {
    color: #c86b64;
}

.login-error-msgs {
    color: red;
}

.profile .nav-tabs {
    border-bottom: 0px;
    margin-right: 10px;
}

#company-tabs.nav-tabs>li.active>a ,
.profile .nav-tabs>li.active>a {
    border-bottom: 2px solid white;
}

.profile-change-password {
    background: #E75F49;
    color: white;
    padding: 5px 26px;
}

.profile-change-password:hover {
    color: white;
}

.profile-username,
.profile-email,
.profile-sex,
.profile-city{
    color: #393939;
}
.profile-email,
.profile-sex,
.profile-city{
    margin-top: 5px;
    margin-left: 5px;
}
.profile-username {
    font-size: 16px;
}

.profile-email span,
.profile-sex span,
.profile-city span
{
    color: #777;
}

.change-photo {
    color: #777;
}

.change-photo:hover {
    color: #777;
}

.profile-edit {
    margin-top: 10px;
}
.profile-edit a{
    color: #E75F49;
    margin-left: 5px;
}

.recals {
    height: 30px;
    margin-top: 20px;
    border-bottom: 1px solid #777;
}

.recals-list {
    padding-top: 50px;
}

.recals-item {
    padding: 50px 90px;
    padding-top: 0px;
}

.recals-item a {
    color: #393939
}

.recals-panel {
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    min-height: 80px;
    padding: 10px;
    margin-left: 10px;
}

.recals-item .media-heading {
    height: 15px;
}

.custom-breadcrumbs ol {
    display: block;
    padding-left: 0px;
    list-style-type: none;
    min-height: 30px;
}

.custom-breadcrumbs ol li {
    display: inline-block;
    padding-left: 30px;
    background: url('/static/img/step.png') no-repeat 0 center;
}

.custom-breadcrumbs ol li:first-of-type {
    padding-left: 0px;
    background: none;
}

.custom-breadcrumbs ol li > a {
    text-decoration: underline;
    color: #777;
}

.custom-breadcrumbs ol li > a:hover {
    color: #777;
}

#bookmarks {
    padding: 30px;
}

.dislike-link,
.bookmarks-link,
.like-link {
    display: inline-block;
    padding-left: 20px;
    background: url('/static/img/like.png') no-repeat;
    line-height: 17px;
    margin-right: 10px;
}

.dislike-link {
    background: url('/static/img/dislike.png') no-repeat;
}

.bookmarks-link {
    background: url('/static/img/bookmark.png') no-repeat;
}

.rating-block a,
.rating-block a:hover {
    color: #6f6f6f;
}

#bookmarks .main-carousel-item {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 40px;
    display: inline-block;
    width: 285px;
}

#bookmarks .main-carousel-footer {
    border: 1px solid #b4b4b4;
    border-top: 0px;
}

.btn-red {
    background: #E75F49;
    color: white;
    padding: 5px 26px;
}

.delete-account-modal .modal-content {
    padding: 30px;
    border-radius: 0px;
    text-align: center;
}

.modal-text {
    margin-bottom: 20px;
}

.modal-btns .btn-agree {
    margin-left: 40px;
}

.modal-btns .btn {
    border-radius: 0px;
}

#deletedAccouont .modal-text {
    margin-bottom: 0px;
}

.company-name img {
    float: right;
}

.company-name a,
.company-name a:hover
{
    color: #555;
}

.main-carousel-footer .company-name img {
    float: left;
    padding-right: 10px;
}

.bookmarks-list {
}

.bookmarks-list li {
    list-style: none;
    line-height: 30px;
}

.bookmarks-count {
    line-height: 30px;
    color: #777;
}
.bookmarks-count a,
.bookmarks-list li a,
.bookmarks-list li a:hover
{
    color: #777;
}