{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container actions">
        <div class="row">
            {% for action in actions %}
                <div class="col-lg-3">
                    <div class="main-carousel-item">
                        {% thumbnail action.banner "255x111" crop="100% center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}
                        <div class="main-carousel-footer">
                            <span class="company-name">{{ action.company.title }}</span>
                            <div class="action-name">{{ action.title }}</div>
                            <span class="glyphicon glyphicon-heart"></span> 98 <span class="glyphicon glyphicon-tag"></span> В закладки
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    </div>
{% endblock %}