<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sparrow's App</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- bxSlider CSS file -->
    <link href="{{ STATIC_URL }}css/jquery.bxslider.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/jquery.fileupload.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="{{ STATIC_URL }}img/logo.png" style="margin-top: -10px" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav center-menu">
                <li class="{% if active == "home" %}active{% endif %}"><a href="/">Главная</a></li>
                <li class="{% if active == "search" %}active{% endif %}"><a href="#">Поиск</a></li>
                <li class="{% if active == "actions" %}active{% endif %}"><a href="{% url "actions" %}">Каталог</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#" class="profile-popover-link">{{ request.user.username }} <b class="caret"></b></a></li>
                {% else %}
                    <li><a class="login-popover-link" href="#">Регистрация/<span>Войти</span></a></li>
{#                    <li><a href="{% url "auth_login" %}">Войти</a></li>#}
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="profile-popover" style="display: none;">
    <ul class="profile-link">
        <li>
            <a href="{% url 'bookmarks' %}">Закладки</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Подписки</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Профиль</a>
        </li>
        <li>
            <a href="{% url "auth_logout" %}">Выход</a>
        </li>
    </ul>
</div>
<div class="login-popover" style="display: none;">
    <div>
        <div class="login-links">
            <span>Войти</span>
            <a class="pull-right" href="{% url 'registration_register' %}">Регистрация</a>
        </div>
        <div class="login-error-msgs"></div>
        <form method="POST" class="login-popover-form" id="login-popover-form-id" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <div class="form-group"></div>
            <div class="form-group">
                <input class="form-control" placeholder="Логин" name="username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="***********" name="password" />
            </div>
            <div class="checkbox login-popover-checkbox">
                <label>
                    <input name="remember_me" type="checkbox"> Запомнить
                </label>
            </div>
            <button type="submit" class="login-popover-btn">Войти</button>
            <div class="forgot-links">
                <a href="{% url 'auth_password_reset' %}" class="pull-right">Забыли пароль</a>
            </div>
            <hr class="clearboth" />
            <div class="login-popover-oauth">
                <span>Войти через</span>
                <a href="{% url "social:begin" "vk-oauth2" %}" class="pull-right">
                    <img src="{{ STATIC_URL }}img/vk-reg.png" />
                </a>
            </div>
        </form>
    </div>
</div>

<div class="custom-breadcrumbs container main-offset">
    <ol>
        {% for crumb in breadcrumbs %}
            <li>
                {% if forloop.last %}
                    <span>{{ crumb.1 }}</span>
                {% else %}
                    <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>

{% block content %}
{% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>#}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!-- bxSlider Javascript file -->
<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
<script src="{{ STATIC_URL }}js/gmaps.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
{% block extend_js %}{% endblock %}
</body>
</html>