{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container actions profile">
        <ul class="nav nav-tabs pull-right" id="company-tabs">
            <li><a href="{% url 'bookmarks' %}"  >Закладки</a></li>
            <li><a href="#subscribe">Подписки</a></li>
            <li class="active"><a href="{% url 'profile' %}">Профиль</a></li>
        </ul>
        <div class="tab-content company-tab-content">
            <div class="tab-pane active" id="profile">
                <div class="media">
                    <div class="pull-left text-center">
                        {% thumbnail request.user.profile.photo "160x160" crop="100% center" as im %}
                        <img src="{{ im.url }}" class="media-object" width="160" height="160" id="avatar" />
                        {% endthumbnail %}
                    <span class="fileinput-button">
                        <span class="change-photo">[Сменить фото]</span>
                        <input id="fileupload" type="file" name="file" multiple= />
                        {% csrf_token %}
                    </span>
{#                    <form id="fileupload" method="POST" enctype="multipart/form-data">#}
{#                        <a class="change-photo" href="#">[Сменить фото]</a>#}
{#                    </form>#}
                    </div>
                    <div class="media-body">
                        <a href="{% url 'auth_password_change' %}" class="pull-right profile-change-password">Изменить пароль</a>
                        <div class="profile-username">{{ request.user.username }}</div>
                        <div class="profile-email">E-mail: <span>{{ request.user.email }}</span></div>
                        <div class="profile-sex">Пол: <span>Мужской</span></div>
                        <div class="profile-city">Город: <span>Санкт-Петербург</span></div>
                        <div class="profile-edit">
                            <a href="#">[Редактировать]</a>
                        </div>
                    </div>
                </div>

                <div class="recals">
                    <div class="recals-label pull-left">
                        Мои отзывы {{ request.user.feedbacks.count }} <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>

                    <div class=" pull-right">
{#                        <a class="change-photo" data-toggle="modal" data-target="#delAccouont" href="{% url 'accounts_delete' %}">[Удалить профиль]</a>#}
                        <a class="change-photo" data-toggle="modal" data-target="#delAccount" href="#">[Удалить профиль]</a>
                    </div>
                </div>
                <div class="recals-list" style="display: none;">
                    {% for fb in recals %}
                        <div class="recals-item">
                            <div class="media">
                                <a href="#" class="pull-left text-center">
                                    <span>{{ fb.company.title }}</span>
                                    <img class="media-object" src="{{ MEDIA_URL }}{{ fb.company.logo }}" width="80" height="80" />
                                </a>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <div class="pull-right recals-date">
                                            {{ fb.created }}
                                        </div>
                                    </div>
                                    <div class="recals-panel">
                                        {{ fb.text }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm delete-account-modal" id="delAccount">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-text">
                    Вы уверены, что хотите удалить свой аккаунт и все данные, связанные с ним ?
                </div>
                <div class="modal-btns">
                    <button class="btn btn-red" data-dismiss="modal">Нет</button>
                    <button class="btn btn-red btn-agree">Да</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm delete-account-modal" id="deletedAccount">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-text">
                    Ваш аккаунт удален
                </div>
            </div>
        </div>
    </div>
{% endblock %}