{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container actions profile">
        <ul class="nav nav-tabs pull-right" id="company-tabs">
            <li class="active"><a href="{% url 'bookmarks' %}">Закладки</a></li>
            <li><a href="#subscribe">Подписки</a></li>
            <li><a href="{% url 'profile' %}">Профиль</a></li>
        </ul>
        <div class="tab-content company-tab-content">
            <div class="" id="bookmarks">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="bookmarks-count">
                            <a href="#">
                                Всего закладок: {{ request.user.actions_delayed.count }}
                            </a>
                        </div>
                        <ul class="bookmarks-list">
                            {% for group in bookmarks_groups %}
                                <li>
                                    <a href="#">{{ group.0.name }}: {{ group.1 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        {% for action in actions %}
                            <div class="main-carousel-item">
                                {% thumbnail action.banner "285x111" crop="100% center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                                {% endthumbnail %}
                                <div class="main-carousel-footer">
                                    <span class="company-name">
                                        <img src="{{ MEDIA_URL }}{{ action.group.icon }}" />
                                        <a href="{% url "company" action.company.pk %}">
                                            {{ action.company.title }}
                                        </a>
                                    </span>
                                    <div class="action-name">{{ action.title }}</div>
                                    <div class="rating-block">
                                        <a href="#" rel="{{ action.pk }}" class="like-link">{{ action.users_likes.count }}</a>
                                        <a href="#" rel="{{ action.pk }}" class="dislike-link">{{ action.users_dislikes.count }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}