{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container company-profile actions">
        <div class="row">
            <div class="col-lg-2" style="border-right: 2px solid #aaa;">
                {% thumbnail company.logo "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% endthumbnail %}
            </div>
            <div class="col-lg-10">
                <h2>{{ company.title }}</h2>
                <p>{{ company.description }}</p>
                {% if company.link %}
                    <p><a href="{{ company.link }}">{{ company.link }}</a></p>
                {% endif %}
            </div>
        </div>
        <ul class="nav nav-tabs pull-right" id="company-tabs">
            <li class="active"><a href="#actions"  data-toggle="tab">Акции</a></li>
            <li><a href="#menu" data-toggle="tab">Меню</a></li>
            <li><a href="#info" data-toggle="tab">Информация</a></li>
            <li><a href="#fb" data-toggle="tab">Отзывы</a></li>
        </ul>
        <div class="tab-content company-tab-content">
            <div class="tab-pane active" id="actions">
                <ul class="company-actions-slider">
                    {% for action in company.actions.all %}
                    <li>
                        <div class="company-action-detail">
                            <img src="{{ MEDIA_URL }}{{ action.banner }}" width="400" />
                            <div class="company-action-title">{{ action.title }}</div>
                            <div class="company-action-text">
                                {{ action.text }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="menu">{{ company.menu }}</div>
            <div class="tab-pane" id="info">
                <p>{{ company.text }}</p>
                <div id="company-map"></div>
                <div class="row shops">
                    {% for shop in company.shops.all %}
                        <div class="col-md-6">
                        <p>{{ shop.address }}</p>
                        <p>{{ shop.phone }}</p>
                        <p>{{ shop.workhours }}</p>
                        {% if shop.wifi %}
                            <img src="{{ STATIC_URL }}img/wifi.png" />
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="fb">
                <a href="#" class="send-fb pull-left">Оставить отзыв</a>
                {% for fb in company.feedbacks.all %}
                    <div class="feedback">
                    <span>{{ fb.name }}</span>
                    <span class="pull-right">{{ fb.created|date:"M d, Y" }}</span>
                    <div class="row">
                        <div class="col-md-2">
                            {% if fb.photo %}
                                <img src="{{ fb.photo }}" />
                            {% else %}
                                <img src="{{ STATIC_URL }}img/nophoto.png" />
                            {% endif %}
                        </div>
                        <div class="col-md-10">{{ fb.text }}</div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extend_js %}
    <script type="text/javascript">
        $(function(){
            map = new GMaps({
                width: '100%',
                height: '700px',
                div: '#company-map',
                zoom: 16,
                lat: -12.043333,
                lng: -77.028333,
                scrollwheel: false
            });
            {% for shop in company.shops.all %}
                console.log({{ shop.lat }});
                console.log({{ shop.lng }});
                console.log('{{ shop.address }}');
                map.addMarker({
                    lat: {{ shop.lat|stringformat:"f" }},
                    lng: {{ shop.lng|stringformat:"f" }},
                    title: '{{ shop.address }}'
                });
            {% endfor %}
            GMaps.geolocate({
                success: function(position) {
                    map.setCenter(position.coords.latitude, position.coords.longitude);
                },
                error: function(error) {
                    alert('Geolocation failed: '+error.message);
                },
                not_supported: function() {
                    alert("Your browser does not support geolocation");
                }
            });


            $("#company-tabs a[href='#info']").click(function(){
                setTimeout(function(){
                    map.refresh();
                }, 300);
            });
        });
    </script>
{% endblock %}