{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <img class="center-block" src="{{ STATIC_URL }}img/big_spec_banner_2.jpg" width="100%" />
        <div class="main-carousel premium-actions">
            <ul class="bxslider">
                {% for action in premium %}
                <li>
                    <div class="main-carousel-item" style="height: 189px">
                        {% thumbnail action.banner "206x92" crop="100% center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}
                        <div class="main-carousel-footer">
                            <span class="company-name">
                                <img src="{{ MEDIA_URL }}{{ action.group.icon }}" />
                                <a href="{% url "company" action.company.pk %}">{{ action.company.title }}</a></span>
                            <div class="action-name">{{ action.title }}</div>
                            <div class="rating-block">
                                <a href="#" rel="{{ action.pk }}" class="like-link">{{ action.users_likes.count }}</a>
                                <a href="#" rel="{{ action.pk }}" class="dislike-link">{{ action.users_dislikes.count }}</a>
                                <a href="#" rel="{{ action.pk }}" class="bookmarks-link">В закладки</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="container actions">
        <div class="row">
            {% for action in actions %}
            <div class="col-lg-3">
                <div class="main-carousel-item">
                    {% thumbnail action.banner "255x111" crop="100% center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    <div class="main-carousel-footer">
                        <span class="company-name">
                            <img src="{{ MEDIA_URL }}{{ action.group.icon }}" />
                            <a href="{% url "company" action.company.pk %}">
                                {{ action.company.title }}
                                </a>
                        </span>
                        <div class="action-name">{{ action.title }}</div>
                        <div class="rating-block">
                            <a href="#" rel="{{ action.pk }}" class="like-link">{{ action.users_likes.count }}</a>
                            <a href="#" rel="{{ action.pk }}" class="dislike-link">{{ action.users_dislikes.count }}</a>
                            <a href="#" rel="{{ action.pk }}" class="bookmarks-link">В закладки</a>
                        </div>
                    </div>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
        <div class="pull-right more-actions">
            <a href="{% url "actions" %}">Больше акций</a>
        </div>
    </div>

    <div class="wrapper-map">
        <div id="map">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4 maps-panel">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Введите название">
                        <span class="input-group-btn ">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div>Вы выбрали: Рестораны, Бары</div>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="{{ STATIC_URL }}img/big_icon.png" class="center-block" />
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>
                                    <input type="checkbox" checked="checked"/>Рестораны
                                </li>
                                <li>
                                    <input type="checkbox"/>Fast Food
                                </li>
                                <li>
                                    <input type="checkbox"/>Кафе
                                </li>
                                <li>
                                    <input type="checkbox"/>Пабы
                                </li>
                                <li>
                                    <input type="checkbox" checked="checked"/>Бары
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="bxslider-inner">
                        <li>
                            <a href="#">
                                <img src="{{ STATIC_URL }}img/icon.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ STATIC_URL }}img/icon.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ STATIC_URL }}img/icon.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ STATIC_URL }}img/icon.png" />
                            </a>
                        </li>
                    </ul>
                    <div>
                        Результаты: 8
                    </div>
                    <div class="row maps-result">
                        <div class="col-sm-6">
                            <div class="main-carousel-item">
                                <img src="{{ STATIC_URL }}img/spec_banner.jpg" />
                                <div class="main-carousel-footer">
                                    <span class="company-name">Company name</span>
                                    <div class="action-name">Бесплатная колла</div>
                                    <span class="glyphicon glyphicon-heart"></span> 98 <span class="glyphicon glyphicon-tag"></span> В закладки
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="main-carousel-item">
                                <img src="{{ STATIC_URL }}img/spec_banner.jpg" />
                                <div class="main-carousel-footer">
                                    <span class="company-name">Company name</span>
                                    <div class="action-name">Бесплатная колла</div>
                                    <span class="glyphicon glyphicon-heart"></span> 98 <span class="glyphicon glyphicon-tag"></span> В закладки
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#">1</a>
                        <a href="#">2</a>

                        <a href="#" class="pull-right">Сбросить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-bottom" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Партнерам</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}